
:root {
    --primary-color: #4f7ff0;
    --secondary-color: #87A2FB;
    --background-color: #EEEEEE;
    --error-text : #460000;
    --error-bg : #ec9797;
    --success-color : #025402;
    --success-bg : #a4d6a4;
    --success-text : #011d01;
    --nav-color : #4f7ff0;
    --nav-text : #c4c4c4; 

    --button-color: #ead34d;
    --button-text : rgb(122, 122, 122);
    --button-font-size : 1rem;
    --button-small-font-size : .75rem;
    --max-width: 1100px;
    /* links */
    --link-on-purple-color : #00b400;
    --link-on-purple-hover-color: #00e400;
    --link-on-blue-color: #d1d651;
    --link-on-blue-hover-color: #faff5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px;
    background-color: var(--nav-color);
}

nav a {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 10px;
    color: var(--nav-text);
}

nav a:hover {
    color: #fff;
}

h2 {
    width: 100%;
}

.title {
    margin: 5px;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
}

.post {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    inline-size: 100%;
}

.title a {
    color: #00a36f;
    text-decoration: none;
}

/* header  */

.flash-messages {
    margin: 20px 10px;
}

 /* Forms  */

 .form-group {
    display: flex;
    justify-content: space-between;
 }

 .form-group label {
    margin-right: 6px;
 }

 .form-errors {
    color: var(--error-text);
    background: var(--error-bg);
    padding: 6px;
    border-radius: 10px;
 }

 .form-errors ul, .success-message ul {
    list-style-type: none;
 }

 .form-errors ul li, .success-message ul li {
    margin: 6px 0;
 }

 .success-message {
    color: var(--success-text);
    background: var(--success-bg);
    padding: 6px;
    border-radius: 10px;
 }

 .form-dialog {
    display: flex;
 }

 input {
    padding: 6px;
 }

 /*sections */

 section.centered h1,h2{
    text-align: center;
 }

 section.centered h1,h2,p{
    margin: 8px 0;
 }

 section.centered { 
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 section .section-container {
    text-align: left;
 }

 section .section-container.about {
    width: 40%;
 }

 /* dialogs  */

 .dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
 }

 .dialog.login {
    width: 40%;
 }

 .dialog.forgot {
    width: 40%;
 }

 /* buttons */

 .btn {
    margin: 4px;
    padding: 6px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    background: var(--button-color);
    color: #333;
 }

 .btn:hover {
    box-shadow: 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    background: var(--button-color);
    color: #333;
 }

 /* forms  */

 .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4px 0;
 }

 /* responsive  */

 @media(max-width: 440px) {
    .dialog.login, .dialog.forgot, .dialog.reset-pass {
        width: 90%;
    }

    section .section-container.about {
        width: 90%;
    }
 }