<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskAuthApp</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        {% if current_user.is_authenticated %}
            {% include "navauthed.html" %}
        {% else %}
            {% include "navunauthed.html" %}
        {% endif %}
        <hr/>
        {% include "dialogs/formerrors.html" %}
        {% include "dialogs/errormessage.html" %}
        {% include "dialogs/successmessage.html" %}
    </header>
    
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>

    </footer>

</body>
</html>