{% extends 'base.html' %}

{% block content %}
    <section class="centered">
        <h1>{% block title %} Flask Auth {% endblock %}</h1>
        <h2>About</h2>
        <div class="section-container about">
            <p>This is an example of an authentication system using Flask.</p>
            <p>This app allows users to register and log in with their registered account.</p>
            <p>It hashes the user passwords, creates an account in the database and itegrates with the sendgrid api to 
                request confirmation and handle forgotten passwords.
            </p>
        </div>
    </section>

{% endblock %}