{% extends "base.html" %}

{% block content %}

{% include "dialogs/formerrors.html" %}
{% include "dialogs/errormessage.html" %}
<h1>Reset Password</h1>
<div class="form-dialog">
    <form action=""  autocomplete="on" method="POST" class="capture-form">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.confirmpass.label }}
            {{ form.confirmpass }}
        </div>
        <div class="btn-group">
            <button id="submit-reset" class="btn btn-primary submit-btn" type="submit">Reset</button>
        </div>
    </form>

</div>


{% endblock %}